*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0px;
    padding: 0%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    padding: 10px;
    text-align: center;
    padding: 40px;
    font-size: 40px;
}

.grid-container {
    display: flex;
    flex-direction: row;
    padding: 40px; 
}

.column{
    border: 1px solid black;
    height: 20px;
    width: 20px;
    display: flex;
}


button {
    height: 30px;
    width: 50px;
    border-radius: 8px;
    border: 2px solid black;
}

