*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0px;
    padding: 0%;
}

body {
    display: flex;
    height: 100px;
    width: 100px;
}
.grid-container {
    height: 50px;
    width: 50px;
    padding: 40px;
    display: flex;
}
.row {
    border: 1px solid black;
}
.column{
    border: 1px solid black;
}
